.Home {
    height: 100%;
    text-align: center;

    #first-entry {
        // @include flex(flex-start, center, column);
        height: 100%;
        padding-block: 30px;
        position: relative;

        h1.entry-title {
            height: 100%;
            font-size: 45px;
            margin-block: 50%;
        }

        a button {
            height: 60px;
            width: 160px;
            position: absolute;
            bottom: 60px;
            right: 50%;
            transform: translateX(50%);
            font-size: 20px;
        }

    }

    #front-app {
        @include flex(space-between, center, column);
        height: 100%;

        .Header {
            @include flex(null, center);
            position: relative;
            padding-inline: 10px;
            width: 100%;
            height: 48px;
            background-color: $primary-color;
            text-align: center;

            button {
                padding: 0;
                padding-top: 2px;
            }

            h2 {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: fit-content;
            }
        }

        .charity-box {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 60%;
            z-index: 0;

            &-image {
                position: absolute;
                top: -10%;
                right: 0;
                width: 100%;
            }

            &.is-dropped {
                .coin {
                    transform: translateY(100%);
                }
            }
            .coins-wrapper {
                overflow: hidden;
                z-index: 2;
            }
        }

        .sum-wrapper {
            margin-bottom: 10px;

            .sum {
                line-height: 1;

                span {
                    color: #7b7b7b;
                    font-size: 16px;
                    margin-right: 2px;
                }
            }
        }


        .coins-wrapper {
            @include flex(center, center);
            gap: 6px;
            position: relative;
            
            .coin:hover,
            .coin:active {
                border-color: #c9c9c9;
            }
            .coin {
                border-radius: 50px;
                border: 5px solid transparent;
                background: none;
                transition: border 0.5s;
                transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);


                img {
                    width: 70px;
                    height: 70px;
                }
            }
        }

        #ManualAmountBar {
            @include flex(space-between, center);
            width: 100%;
            padding: 10px 30px;
            margin-top: 26px;
            border-radius: 12px 12px 0 0;
            background-color: $primary-color;
            .ant-input-number {
                position: relative;
                margin-inline-start: 78px;
                width: 72px;
                &::after {
                    content: "₪";
                    position: absolute;
                    left: 26px;
                    top: 56%;
                    transform: translateY(-50%);
                    font-weight: 200;
                    font-size: 12px;
                }
                &::before {
                    content: "סכום אחר:";
                    position: absolute;
                    right: -78px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-weight: 200;
                    font-size: 18px;
                    width: max-content;
                }
            }

        }
    }

    .ant-dropdown {
        left: 420px !important;
        top: 54px !important;
    }
}

.DropTarget {
    width: 90%;
    min-height: 80px;
    border: 2px solid black;
}


// $primary-color