.Signup {
    @include flex(space-between, center, column);
    height: 100%;
    
    
    .steps-content {
        height: 100%;
        padding-block: 26px;
    }
    .steps-action {
        @include flex(space-between);
        width: 100%;
    }
    .settings {
        height: 100%;
    }
}

.settings {
    .headers {
        text-align: center;
        margin-bottom: 42px;
    }
    .coins-list > .ant-divider:last-child {
        display: none;
     } 
    .manual-value-wrapper .ant-input-number {
        // position: relative;
        &::after {
            content: "₪";
            position: absolute;
            left: 26px;
            top: 56%;
            transform: translateY(-50%);
            font-weight: 200;
            font-size: 12px;
        }
    }
}
