.Home {
    height: 100%;
    text-align: center;

    #FirstEntry {
        @include flex(flex-end, center, column);
        height: 100%;
        padding-block: 30px;
        position: relative;
        padding-bottom: 72px;

        h1.entry-title {
            position: absolute;
            top: 24%;
            height: 100%;
            width: 312px;
            font-size: 45px
        }

        .modal-link {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .ant-modal {
            max-width: calc(100vw - 60px);
        }

        .signup-link button {
            height: 60px;
            width: 160px;
            // position: absolute;
            // bottom: 60px;
            // right: 50%;
            // transform: translateX(50%);
            font-size: 20px;
        }

    }

    #front-app {
        @include flex(space-between, center, column);
        height: 100%;
        background-color: $bg-color-1;
        .Header {
            @include flex(null, center);
            position: relative;
            padding-inline: 10px;
            width: 100%;
            height: 48px;
            background-color: $primary-color;
            text-align: center;

            button {
                padding: 0;
                padding-top: 2px;
            }

            h2 {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: max-content;
            }
        }
        .greetings{
            font-weight: normal;
        }
        .ant-spin {
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%);
        }
        // .Home #front-app .charity-box {
        //     background-image: url(/static/media/charity_box.c456e56e.svg);
        //     background-repeat: no-repeat;
        //     background-position: 122%;
        //     background-size: 130%;
        // }

        .charity-box {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 60%;
            z-index: 0;

            &-image {
                position: absolute;
                bottom: 10%;
                right: 0;
                width: 100%;
                min-width: 340px;
            }

            &.is-dropped {
                .coin {
                    transform: translateY(100%);
                    border: 0 !important;
                }
            }

            .coins-wrapper {
                display: revert;
                overflow: hidden;
                z-index: 2;
                margin: auto;
                height: 146px;
                clip-path: polygon(0 0, 100% 0, 100% 31%, 0 100%);
            }
        }

        .sum-wrapper {
            margin-bottom: 10px;

            .sum {
                line-height: 1;

                span {
                    color: #7b7b7b;
                    font-size: 16px;
                    margin-right: 2px;
                }
            }
        }


        .coins-wrapper {
            // @include flex(center, center);
            display: grid;
            grid-auto-flow: column;
            gap: 6px;
            position: relative;

            .coin:hover,
            .coin:active {
                border-color: #c9c9c9;
            }

            .coin {
                position: relative;
                border-radius: 50px;
                border: 5px solid transparent;
                background: none;
                transition: border 0.5s;
                transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
                touch-action: none;
                width: 100%;

                img {
                    width: 100%;
                    max-width: 74px;
                }

                h2 {
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%, -50%);
                    font-size: 32px;
                    padding-top: 4px;
                    color: transparent;
                    -webkit-text-stroke: 0.87px #826c30;
                }
            }
        }

        #ManualAmountBar {
            @include flex(space-between, center);
            width: 100%;
            padding: 10px 30px;
            margin-top: 26px;
            border-radius: 12px 12px 0 0;
            background-color: $primary-color;
            box-shadow: rgba(37, 16, 47, 0.2) 0px 0px 6px 0px;
            .ant-input-number {
                position: relative;
                margin-inline-start: 78px;
                width: 72px;

                &::after {
                    content: "₪";
                    position: absolute;
                    left: 26px;
                    top: 56%;
                    transform: translateY(-50%);
                    font-weight: 200;
                    font-size: 12px;
                }

                &::before {
                    content: "סכום אחר:";
                    position: absolute;
                    right: -78px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-weight: 200;
                    font-size: 18px;
                    width: max-content;
                }
            }

        }
    }

    .ant-dropdown {
        left: 420px !important;
        top: 54px !important;
    }
}

.DropTarget {
    width: 90%;
    min-height: 80px;
    border: 2px solid black;
}


// $primary-color