* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
   
    margin: 0;
}

h1, h2 { font-weight: bold; }
h2 { font-size: 24px; }
h3 { font-weight: 400; }

.container {
    padding-inline: 30px;
}
html {
    background-color: lightgray  ;
}

body {
    margin: auto;
    font-family: 'Noto Serif Hebrew', serif !important;
    font-weight: 600 !important;  
    max-width: 480px;
    max-height: 900px;
    background-color: white;
    #root {
        height: 100%;
        overflow: hidden;
        .App {
            height: 100%;

            & > *:not(.Home) {
                padding: 26px;
            }
        }
    }

}